@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$background-color: #eee7e4;
$blueSite: #009688;
$graycolor: #c0c9ce;
$grijsachtergrond: #f2f2f2;
$zwart: #000000;
$font-family: 'Roboto', sans-serif;
$fontweightbold: bold;

@mixin flex-between(){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin btn($fontcolor: #FAFAFA){
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 100%;
  padding: 15px;
  background: $blueSite;
  color: $fontcolor;
  text-transform: uppercase;
}

@mixin message($fontcolor: #90A4AE){
  color: $fontcolor;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@mixin input($bkgnd: #F5F5F5){
  font-family: $font-family;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  outline: 0;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
  background: $bkgnd;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../src/assets/Background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner{
  width: 100%;
  height: 100vh;
}

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul{
    li{
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
      &:after{
        content: '';
        height: 3px;
        width: 0%;
        background: $blueSite;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
      }
      &:hover{
        &:after{
          width: 100%;
        }
      }
    }
    a{
      text-decoration: none;
      color: #ffffff;
      text-transform: uppercase;
    }
    .detailpagetext{
      color: $zwart;
    }
  }
}

.logo{
  width: 100px;
  cursor: pointer;
}

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff;

  h1{
    font-size: 70px;
    margin-top: 80px;
  }

  p{
    margin: 20px auto;
    font-weight: 150;
    line-height: 25px;
  }
}

.btn-benner{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: $fontweightbold;
  border: 2px solid $blueSite;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  span{
    background: $blueSite;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }

  &:hover span{
    width: 100%;
  }

  &:hover{
    border: none;
  }
}


footer{
  text-align: center;
  background-color: $blueSite;

  a{
    padding: 40px 40px 0px 40px;
    text-decoration: none;
    color: $background-color;
  }
}

.h2_footer{
  padding: 10px;
  color: $background-color;
}

.p_footer{
  padding: 10px;
}